@model PapaPizza.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<h5><b>Ingredients:</b></h5>
@foreach(var item in Model.DishIngredients.Where(di=> di.checkboxAnswer))
    {
        <span>@item.Ingredient.Name </span>
        <br/>
        @*<span>@IngredientService.AddedIngredients(item.DishId)</span>*@

       @* @foreach (var cat in item.Dish.Category.Name)
    {
        <span>@cat</span>
    }*@
    

}

<div>
    <a asp-action="Edit" asp-route-id="@Model.DishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
