@model PapaPizza.Models.Cart
@inject PapaPizza.Services.CartService cartService

@{
    ViewData["Title"] = "Index";
}
<h2>Cart Index!</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <sapn>Dish</sapn>
            </th>
            <th>
                <sapn>Category</sapn>

            </th>
            <th>
                <span>Price</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model.CartItems)
                {
                <tr>
                    <td>
                        <b>@item.Dish.Name</b>
                        <br />

                        @foreach (var it in item.CartItemIngredients.Where(u => u.Enabled))
                        {
                            <span>@it.Ingredient.Name</span>
                        }
                    </td>

                    <td>
                        @item.Dish.Category.Name
                    </td>
                    <td>
                        @*item.Dish.Price*@
                        <span>@cartService.ModifiedCartItemPrice(item.CartItemId, item.CartItemIngredients, item.DishId)</span>

                    </td>
                    <td>
                        @if (@item.CartItemIngredients.Count<CartItemIngredient>() != 0)
                        {
                            <a asp-action="EditCartItem" asp-route-id="@item.CartItemId">Edit Ingredients</a>
                            <br />
                        }
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.CartItemId">Remove Dish</a>

                    </td>

                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.CartId">Details</a>
                            <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.CartId">Remove</a>
                        </td>*@
                </tr>
            }


            <tr>
                <td>
                    <b>Total:</b>
                </td>
                <td></td>
                <td>
                    <span>@cartService.TotalCartSum(Model.CartItems.Select(i => i.CartItemId).FirstOrDefault())</span>
                    @*<span>@cartService.TotalPriceForCart(Model.CartId)</span>*@

                </td>
            </tr>
        }
    </tbody>
</table>

<br />
@*@if (Model != null)*@

@{var id = cartService.CheckCart();

    <div class="btn btn-default" style="margin: 1%">
        <a asp-controller="Dishes" asp-action="Index" style="text-decoration:none">Return to Menu</a>
    </div>

    @if (id != 0)
    {
        <div class="btn btn-default" style="margin: 1%">
            <a asp-controller="Cart" asp-action="EmptyCart" style="text-decoration:none" asp-route-id="@id">Empty Cart</a>
        </div>

        <div class="btn btn-default" style="margin: 1%">
            <a asp-controller="Orders" asp-action="OrderIndex" style="text-decoration:none" asp-route-id="@id">Checkout</a>
        </div>
    }
    else
    {<h3>Cart is Empty</h3>}
}
