@model IEnumerable<PapaPizza.Models.CartItem>
@inject PapaPizza.Services.CartService cartService
@{
    ViewData["Title"] = "Index";
}
<h2>Index!</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish.Price)
            </th>
            <th>HEJ</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <b>@item.Dish.Name</b>
                        <br />
                        @if (item.Dish.DishIngredients.Any(x => x.checkboxAnswer == true))
                        {
                            @foreach (var i in item.Dish.DishIngredients)
                            {
                                <span>@i.Ingredient.Name</span>
                            }
                            @item.CartItemIngredients
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dish.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.CartId">Remove</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-controller="Dishes" asp-action="Index">Return to Menu</a>
<br />
@*@if (Model != null)*@

@{var id = cartService.GetCartId();
    @if (id != 0)
    {
        <a asp-controller="Cart" asp-action="EmptyCart" asp-route-id="@id">Empty Cart</a>
        <br/>
        <a asp-controller="Orders" asp-action="Index" asp-route-id="@id">Checkout</a>

    }
    else
    {<h3>Cart is Empty</h3>}

}