@using Microsoft.AspNetCore.Http
@model IEnumerable<PapaPizza.Models.Cart>
@inject PapaPizza.Services.CartService cartService

@{
    ViewData["Title"] = "Index";
}
<h2>Cart Index!</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Cart)*@
                <sapn>Dish</sapn>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Dish.Category)*@
                <sapn>Category</sapn>

            </th>
            <th>
                <span>Price</span>
                @*@Html.DisplayNameFor(model => model.Dish.Price)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var cart in Model)
            {

                @foreach (var item in cart.CartItems)
                {
                    <tr>
                        <td>
                            <b>@item.Dish.Name</b>
                            <br />

                            @if (item.CartItemIngredients.Any(x => x.Enabled  )) 
                            {
                                // extra Ingredient null  Printing all instesad of enabled true 
                                @foreach (var i in item.CartItemIngredients)
                                {
                                   <span>@i.Ingredient.Name</span>
                                }
                                @*@item.CartItemIngredients*@
                            }
                            else { <span>sorry boss</span> }
                        </td>

                        <td>
                            @item.Dish.Category.Name
                        </td>
                        <td>
                            @item.Dish.Price
                        </td>
                        <td>
                                <a asp-action="EditCartItem" asp-route-id="@item.CartItemId">Edit Ingredients</a>
                        </td>




                        @*<td>
                                <b>@item.Dish.Name</b>
                                <br />
                                @if (item.Dish.DishIngredients.Any(x => x.checkboxAnswer == true))
                                {
                                    @foreach (var i in item.Dish.DishIngredients)
                                    {
                                        <span>@i.Ingredient.Name</span>
                                    }
                                    @item.CartItemIngredients
                                }
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Dish.Price)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.CartId">Details</a>
                                <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.CartId">Remove</a>
                            </td>*@
                    </tr>
                }
                
            }
            <tr>
                <td>
                    <b>Total:</b>
                </td>
                <td></td>
                <td>
                    <span>@cartService.GetTotal(Context)</span>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Dishes" asp-action="Index">Return to Menu</a>
<br />
@*@if (Model != null)*@

@{var id = cartService.CheckCart(); // Context
    @if (id != 0)
    {
        <a asp-controller="Cart" asp-action="EmptyCart" asp-route-id="@id">Empty Cart</a>
        <br />
        <a asp-controller="Orders" asp-action="OrderIndex" asp-route-id="@id">Checkout</a>

    }
    else
    {<h3>Cart is Empty</h3>}

}

