@model PapaPizza.Models.CartItem
@inject PapaPizza.Services.IngredientService ingredientService
@inject PapaPizza.Services.CartService cartService

@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Dish</h2>

<h4>@Model.Dish.Name</h4>

<h4>@cartService.GetTotal(Context)</h4>

@*@foreach (var item in ingredientService.GetIngredients())
    {

        if (Model.CartItemIngredients.Any(x => x.IngredientId == item.IngredientId && x.Enabled))
        {

            <input checked type="checkbox" name="checkboxes-@item.IngredientId" value="checkboxes-@item.IngredientId" />
                <label asp-for="@item.Name">@item.Name</label>
                                    <br />
        }
        else
        {
            <input type="checkbox" name="checkboxes-@item.IngredientId" value="checkboxes-@item.IngredientId" />
                <label asp-for="@item.Name">@item.Name</label>
                                    <br />
        }

        // behövs inte
        @if (item.Dish.DishIngredients.Any(x => x.checkboxAnswer == true))
            {
                @foreach (var i in item.Dish.DishIngredients)
                {
                    <span>@i.IngredientId</span>
                }
            }
    }*@
@*<h4>@Html.DisplayNameFor(m => m.CartItems)</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCartItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartItemId" />
            @foreach (var item in ingredientService.GetIngredients())
            {

                if (Model.CartItemIngredients.Any(x => x.IngredientId == item.IngredientId && x.Enabled))
                {
                    <label asp-for="@item.Price">@item.Price kr</label>
                    @:&nbsp;&nbsp;
                    <input checked type="checkbox" name="checkboxes-@item.IngredientId" value="checkboxes-@item.IngredientId" />
                    <label asp-for="@item.Name">@item.Name</label>
                    <br />
                }
                else
                {
                    <label asp-for="@item.Price">@item.Price kr</label>
                    @:&nbsp;&nbsp;
                    <input type="checkbox" name="checkboxes-@item.IngredientId" value="checkboxes-@item.IngredientId" />
                    <label asp-for="@item.Name">@item.Name</label>

                    <br />
                }

            }
            @*<div class="form-group">
                    <label asp-for="ApplicationUserId" class="control-label"></label>
                    <input asp-for="ApplicationUserId" class="form-control" />
                    <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CartIndex">Back to List!</a>
</div>

