@model PapaPizza.Models.CartItem
@inject PapaPizza.Services.IngredientService ingredientService
@inject PapaPizza.Services.CartService cartService

@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Dish</h2>

<h4>@Model.Dish.Name</h4>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditCartItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartItemId" />
            @foreach (var item in ingredientService.GetIngredients())
            {

                if (Model.CartItemIngredients.Any(x => x.IngredientId == item.IngredientId && x.Enabled))
                {
                    <label asp-for="@item.Price">@item.Price kr</label>
                    @:&nbsp;&nbsp;
                    <input checked type="checkbox" name="checkboxes-@item.IngredientId" value="checkboxes-@item.IngredientId" />
                    <label asp-for="@item.Name">@item.Name</label>
                    <br />
                }
                else
                {
                    <label asp-for="@item.Price">@item.Price kr</label>
                    @:&nbsp;&nbsp;
                    <input type="checkbox" name="checkboxes-@item.IngredientId" value="checkboxes-@item.IngredientId" />
                    <label asp-for="@item.Name">@item.Name</label>

                    <br />
                }

            }
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div style="background-color:beige">
            @Html.Partial("_CartIndex")
        </div>
    </div>
</div>

<div>
    <a asp-action="CartIndex">Back to List!</a>
</div>


