@model PapaPizza.Models.OrderViewModel.OrderViewModel
@inject PapaPizza.Services.CartService cartService
@{
    ViewData["Title"] = "Index";
}
<h2>Order Index</h2>

<form asp-action="OrderIndex" asp-controller="Orders">
    <input asp-for="ApplicationUser.FirstName" />
    <label asp-for="ApplicationUser.FirstName"></label>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <span>Cart items</span>
            </th>
            <th>
                <span>Price</span>
            </th>
        </tr>
    </thead>
    <tbody>

        @*@foreach (var item in Model)
            {*@

        @*<td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>*@
        @*<td>
                @Html.DisplayFor(modelItem => item.CartItems)
            </td>*@

        @foreach (var dish in Model.Cart.CartItems)
            {
            <tr>
                <td>
                    <b>@dish.Dish.Name</b>
                    <br />
                    @*@if (dish.Dish.DishIngredients.Any(x => x.checkboxAnswer == true))
                        {
                            @foreach (var it in dish.Dish.DishIngredients)
                            {
                                <span>@it.Ingredient.Name</span>
                            }
                            @item.CartItemIngredients
                        }*@
                    @*@Html.DisplayNameFor(model => i.Dish.Name)*@
                </td>
                <td>
                    @*@dish.Dish.Price*@
                    <span>
                        @cartService.ModifiedCartItemPrice(dish.CartItemId, dish.CartItemIngredients, dish.DishId)
                    </span>

                </td>
            </tr>
        }
        <tr>
            <td>
                <b>Total:</b>
            </td>
            <td>
                <span>@cartService.TotalCartSum(Model.Cart.CartItems.Select(i => i.CartItemId).FirstOrDefault())</span>
            </td>
        </tr>

    </tbody>
</table>

<input type="button" class="btn btn-info" onclick="history.go(-1)" value="Return to Cart" />

<a class="btn btn-success" asp-action="Buy" asp-route-id="">Buy</a>


@*<td>
        @item.Dish.Price
    </td>*@
@* <td>
        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
    </td>*@
