@model PapaPizza.Models.OrderViewModel.OrderViewModel
@inject PapaPizza.Services.CartService cartService
@{
    ViewData["Title"] = "Index";
}
<h2>Order Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Cart items</span>
            </th>
            <th>
                <span>Price</span>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var dish in Model.Cart.CartItems)
            {
            <tr>
                <td>
                    <b>@dish.Dish.Name</b>
                    <br />
                </td>
                <td>
                    <span>
                        @cartService.ModifiedCartItemPrice(dish.CartItemId, dish.CartItemIngredients, dish.DishId)
                    </span>

                </td>
            </tr>
        }
        <tr>
            <td>
                <b>Total:</b>
            </td>
            <td>
                <span>@cartService.TotalCartSum(Model.Cart.CartItems.Select(i => i.CartItemId).FirstOrDefault())</span>
            </td>
        </tr>

    </tbody>
</table>

<form asp-action="OrderIndex" asp-controller="Orders">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserVM.FirstName"></label>
                <input asp-for="UserVM.FirstName" class="form-control" />
                <span asp-validation-for="UserVM.FirstName" class="text-danger"></span>
                <br />
                <label asp-for="UserVM.LastName"></label>
                <input asp-for="UserVM.LastName" class="form-control"/>
                <span asp-validation-for="UserVM.LastName" class="text-danger"></span>
                <br />
                <label asp-for="UserVM.Street"></label>
                <input asp-for="UserVM.Street" class="form-control" />
                <span asp-validation-for="UserVM.Street" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserVM.Zip"></label>
                <input asp-for="UserVM.Zip" class="form-control" />
                <span asp-validation-for="UserVM.Zip" class="text-danger"></span>
                <br/>
                <label asp-for="UserVM.City"></label>
                <input asp-for="UserVM.City" class="form-control" />
                <span asp-validation-for="UserVM.City" class="text-danger"></span>
                <br />
                <label asp-for="UserVM.CreditCardNumber"></label>
                <input asp-for="UserVM.CreditCardNumber" class="form-control" />
                <span asp-validation-for="UserVM.CreditCardNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserVM.PhoneNumber">Phone number</label>
                <input asp-for="UserVM.PhoneNumber" class="form-control" />
                <span asp-validation-for="UserVM.PhoneNumber" class="text-danger"></span>
                <br />
                <label asp-for="UserVM.Email"></label>
                <input asp-for="UserVM.Email" class="form-control" />
                <span asp-validation-for="UserVM.Email" class="text-danger"></span>

            </div>
        </div>
    </div>



    <input type="button" class="btn btn-info" onclick="history.go(-1)" value="Return to Cart" />
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-success">Buy</button>
</form>

@*<td>
        @item.Dish.Price
    </td>*@
@* <td>
        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
    </td>*@
